{% extends 'base.html.twig' %}

{% block title %}Caisse{% endblock %}

{% block body %}

    <div class="main-block bg-white gap-5 p-2" >

        <a href="{{ path('app_cashbox') }}" class="button bg-teal-500">
            Accéder à la caisse
        </a>
    </div>

{% endblock %}
