{% extends 'base.html.twig' %}

{% block title %}Caisse{% endblock %}

{% block body %}

<div class="main-block">
    <button id="loader" class="bg-red-400 text-red-950">Click me</button>
</div>
{% endblock %}
