

table {
    width: 100%;
    tr {
        th, td {
            padding: 5px 2px;
            line-height: 30px;
            font-size: 1.1rem;
        }
        th {

        }
        td {

        }
    }
    thead {
        tr {
            th {
                border-bottom: 1px solid black;
            }
        }
    }
    tbody {
        tr {
            td {
                border-bottom: 1px solid #ccc;
            }
        }
    }
}

.cashbox-detail {
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    z-index:9;
    @apply bg-gray-100;
    @apply lg:w-[40vw];

    transform: translateX(110%);
    transition: all 0.5s ease-in-out;
    will-change: transform;
    &.visible {
        transform: translateX(0);
    }

    table {
        thead {
            position: sticky;
            top:0;
            @apply bg-gray-100;
        }
        tr {
            th, td {
                padding: 6px 5px;
            }
        }
    }

}

.undo-remove {
    z-index: 99999;
    position: fixed !important;
    bottom: 0;
    left: 0;
    width: 100vw;
}

