{% extends 'base.html.twig' %}

{% block body %}


    <div class="main-block bg-white gap-5 p-2 z-10" >

        <div class="w-full flex justify-between">

            {% include '_nav.html.twig' %}

            <div class="font-bold text-[30px]" data-controller="day-total">
                {{ day_total }} €
            </div>

        </div>

        <div
            id="cashbox"
            class="w-full"
            data-account-names="{{ account_names | json_encode }}"
            data-selling-list="{{ products | json_encode }}"
            data-returnables="{{ returnables }}"
        >

        </div>

    </div>

{% endblock %}
