<div class="p-3 bg-white rounded-xl">

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="flex w-full justify-center">
            <button class="button bg-teal-500 text-white">{{ button_label|default('Save') }}</button>
        </div>
    {{ form_end(form) }}

</div>
