{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}

    <div
        class="home-panel gap-2 bg-gray-200 p-2 min-h-[96vh] w-[92vw] ms-[4vw] mt-[2vh] rounded-xl flex flex-col justify-start items-center"
        data-controller="leave"
    >

        {% include '_nav.html.twig' %}

        <h1 class="text-2xl font-semibold mb-6 text-gray-800 w-full text-start">
            Ajouter un produit
        </h1>

        {{ include('product/_form.html.twig', {'button_label': 'Enregistrer'}) }}

        <a href="{{ path('app_product_index') }}" class="underline">retour</a>
    </div>

{% endblock %}
