@import "notyf/notyf.min.css";

@import "commons/base";
@import "commons/returnables";
@import "commons/confirm";
@import "commons/buttons";
@import "commons/table";
@import "product";

//Mode dev
    .sf-dump {
        font-size: 14px !important;
        padding: 1rem !important;
        max-width: 100vw !important;
        overflow-x: auto;
    }

