<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <meta name="theme-color" content="#ffffff">

        <meta name="apple-mobile-web-app-status-bar-style" content="default">
        <meta name="apple-mobile-web-app-title" content="Mezzo">


        <title>{% block title %}Mezzo{% endblock %}</title>

        <link rel="icon" href="{{ asset('build/mezzo_picto.svg') }}">

        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body class="bg-white" {% if app.request.get('_route') != 'app_login' %} data-controller="logout" {% endif %}>

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <div class="leaf fixed top-0 left-0 bg-white w-screen h-screen z-20"></div>

    </body>

</html>
